/*Imports*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



body{
    text-align: center;
    background-color: rgb(90, 175, 209) ;
}
.container{
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
}
#butao{
  
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: #000a47;
    line-height: 1.15;
    font-size: 16px;
    :hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
    }

}